RewriteEngine On
RewriteRule ^$ index.php
RewriteRule ^/$ index.php
RewriteRule ^login/$ login.php
RewriteRule ^login$ login.php
RewriteRule ^signup/$ signup.php
RewriteRule ^signup$ signup.php
RewriteRule ^timeline/$ index.php
RewriteRule ^timeline$ index.php
RewriteRule ^calendario/$ calendar.php
RewriteRule ^calendario$ calendar.php
RewriteRule ^explorar/$ explore.php
RewriteRule ^explorar$ explore.php
RewriteRule ^perfil/$ profile.php
RewriteRule ^perfil$ profile.php
RewriteRule ^u/([a-zA-Z0-9_-]+)$ profile.php?user=$1
RewriteRule ^u/([a-zA-Z0-9_-]+)/$ profile.php?user=$1
RewriteRule ^m/([a-zA-Z0-9_-]+)$ menu.php?id=$1
RewriteRule ^m/([a-zA-Z0-9_-]+)/$ menu.php?id=$1
RewriteRule ^p/([a-zA-Z0-9_-]+)$ prato.php?id=$1
RewriteRule ^p/([a-zA-Z0-9_-]+)/$ prato.php?id=$1
RewriteRule ^p/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ prato.php?id=$1&menu=$2
RewriteRule ^p/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ prato.php?id=$1&menu=$2
RewriteRule ^pm/([a-zA-Z0-9_-]+)$ pratomodal.php?id=$1
RewriteRule ^pm/([a-zA-Z0-9_-]+)/$ pratomodal.php?id=$1
RewriteRule ^menu/novo$ novomenu.php
RewriteRule ^menu/novo/$ novomenu.php
RewriteRule ^prato/novo/([a-zA-Z0-9_-]+)/([0-9_-]+)$ novoprato.php?menu=$1&dia=$2
RewriteRule ^prato/novo/([a-zA-Z0-9_-]+)/([0-9_-]+)/$ novoprato.php?menu=$1&dia=$2
RewriteRule ^u/([a-zA-Z0-9_-]+)$ profile.php?id=$1
RewriteRule ^prato/novo$ novoprato.php
RewriteRule ^prato/novo/$ novoprato.php
RewriteRule ^u/([a-zA-Z0-9_-]+)/$ profile.php?id=$1
RewriteRule ^sobre/comofaz/$ sobre.php?id=$1
RewriteRule ^sobre/comofaz$ sobre.php?id=$1
